/* место для вашего кода */
.body {
    display: block;
 }
 
 .header {
     display: flex;
     justify-content: space-between;
     align-items: flex-start;
     width: 1052px;
     height: 105px;
     margin-top: 94px;
     margin-left: 24px;
 }

 .header__menu {
     width: 391.48px;
     height: 22px;
     padding-top: 44px;
     padding-left: 26.52px;
     font-family: 'Raleway';
     font-weight: 400;
     font-size: 18px;
     line-height: 21.13px;
 }
 
 .header__links-list {
     display: flex;
     flex-direction: row;
     white-space: nowrap;
     list-style-type: circle;
     gap: 40px;
 }
 
 .header__links-list-item {
     white-space: nowrap;
 }
 
 .header__link_active  {
     text-decoration: none;
 }
 
 .header__logo {
     display: flex;
     justify-self: center;
     width: 148px;
     height: 105px;
 }
 
 .header__logo-image {
     width: 148px;
     height: 105px;
     margin-left: 38.52px;
 }
 
 .header__address {
     width: 240.52px;
     margin-left: 184px;
     font-weight: 400;
     font-size: 18px;
     line-height: 24.3px;
     font-style: normal;
 }
 
 .cover {
     display: grid;
     grid-template-columns: 800px 300px;
     grid-template-rows: 655px 102px;
     grid-auto-flow: row;
     grid-template-areas: 
       "title title"
       "subline button";
     align-items: baseline;
     background-image: url(../images/cover.jpg);
     background-size: cover;
     background-position: center;
     width: 1100px;
     margin-top: 94px;
     position: relative;
 }
 
 .overlay {
     position: absolute;
     width: 100%;
     height: 100%;
     opacity: 60%;
     background-color: rgb(0 0 0 );
 }
   
 .cover__title {
     display: grid;
     justify-self: center;
     grid-column: span 2;
     width: 1000px;
     height: 355px;
     text-transform: uppercase;
     letter-spacing: 30px;
     font-size: 100px;
     font-weight: 700px;
     margin-top: 165px;
     line-height: 115px;
     color: #fff;
 }
 
 .aligned-text {
     display: flex;
     justify-content: start;
     margin-bottom: 10px;
 }
 
 .aligned-text_center  {
     display: flex;
     justify-content: center;
     width: 369px;
     margin-left: 306px;
 }
 
 .aligned-text_right {
     display: flex;
     justify-content: end;
     width: 417px;
     margin-left: 633px;
 }
 
 .letter-spacing {
     letter-spacing: 60px; 
 }
 
 .cover_subline {
     width: 637px;
     height: 28px;
     font-size: 22px;
     text-transform: uppercase;
     font-weight: 400;
     color: rgb(241, 228, 228);
     line-height: 28px;
     word-spacing: 15px;
     margin-left: 78px;
     margin-top: 0px;
     z-index: 1;
 }
 
 .bet-button { 
     width: 256px;
     height: 51px;
     margin-top: 0;
     background-color: transparent;
     border-color: #fff;
     z-index: 1;
 }
 
  .text__decoration {
     font-size: 22px;
     text-transform: uppercase;
     text-align: center;
     font-weight: 500;
     color: rgb(255, 255, 255);
  }
 
 .lots {
     width: 1052px;
     height: 692px;
     margin-top: 179px;
     margin-left: 24px;
 }
 
 .lots__heading {
     font-size: 40px;
     font-weight: 700;
     text-transform: uppercase;
     padding-bottom: 27px;
     padding-left: 40px;
 }
 
 .lots__card-list {
     display: grid;
     grid-template-columns: 334px 334px 334px;
     grid-template-rows: 563px;
     gap: 30px;
     list-style-type: none;
 }
 
 .card {
     display: flex;
     flex-direction: column;
     align-items: start;
     align-content: end;
     width: 100%;
     height: 563px; 
 }
 
 .card__title {
    width: 284px;
    height: 82px;
    padding-top: 45px;
    padding-left: 40px;
    font-size: 22px;
    font-weight: 700px;
    text-decoration: underline;
    font-style: solid;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 1);
    position: relative;
 }
 
 
 .card__text {
    display: flex;
    align-items: flex-end;
    font-size: 20px; 
    font-weight: 400px;
    color: rgb(255 255 255);
    text-decoration: none;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 48px;
    min-height: 436px;
    line-height: 24px;
    position: relative;
 }
 
 .card_type_film {
     width: 100%;
     height: 563px;
     background-image: url(../images/card-lot-01.jpg);
     background-position: center;
     background-size: 160%;
     position: relative;
 }
 
 .card_type_book  {
     width: 100%;
     height: 563px;
     background-image: url(../images/card-lot-02.jpg);
     background-position: center;
     background-size: 160%;
     position: relative;
 }   
 
 .card_type_picture  {
     width: 100%;
     height: 563px;
     background-image: url(../images/card-lot-03.jpg);
     background-position: center ;
     position: relative;
 }   
 
 .lots__look-more-link {
     display: flex;
     width: 192px;
     height: 23px;
     margin-left: 40px;
     margin-top: 35px;
 }
 
 .about {
     width: 1052px;
     height: 595px;
     margin-top: 146px;
     margin-left: 24px;
 }
 
 .about__column {
     width: 1052 px;
     display: grid;
     grid-template-columns: 240px 693px;
     grid-template-rows: 240px 449px;
     column-gap: 30px;
 }
 
 .about__logo {
     display: flex;
     justify-content: center;
     align-items: center;
     margin-top: 35px;
     margin-left: 47px;
     width: 240px;
     height: 240px;
     background-color: black;
     border-radius: 50%;
     
 }
 
 .about__logo-image {
     width: 148px;
     height: 114px;
 }
 
 .about__article {
     width: 693px;
     height: 449px;
     padding-top: 133px;
     margin-left: 72px;
 }
 
 .about__title {
     font-weight: 700px;
     font-size: 40px;
     line-height: 24.96px;
     text-transform: uppercase;
 }
 
 .about__text {
     font-weight: 400px;
     font-size: 20px;
     line-height: 24px;
     padding-top: 103px;
     align-items: end;
 }
 
 .footer {
     width: 1000px;
     height: 98px;
     margin-top: 180px;
     margin-left: 50px;
     display: flex;
     flex-direction: row;
     justify-content: space-between;
 }
 
 .footer__menu-list {
     display: flex;
     flex-direction: column;
     align-items: center;
     list-style-type: none;
 }
 
 .footer__address {
     font-style: normal;
 }
 
 .footer__menu-link_active {
     text-decoration: none;
 }
 
 .footer__social-list {
 width: 240px;
 height: 48px;
 display: flex;
 justify-content: space-between;
 align-items: flex-start;
 gap: 48px;
 list-style-type: none;
 }